@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aspect-w-1 {
    position: relative;
    padding-bottom: 100%;
  }
  
  .aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Text Truncation Styles */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Animation Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Classes */
.animate-fadeIn {
  animation: fadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  will-change: transform, opacity;
}

/* Active Link Styles */
a.active hr {
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease;
}

a.active hr
{
  display:block;
}
.prata-regular
{
  font-family: "Prata",serif;
  font-weight: 400;
  font-style: normal;
}

@media(max-width:640px)
{
  a.active
  {
    background-color: black;
    color: white;
  }
}